* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    padding: 20px;
    text-align: center;
}

.hero {
    height: 40vh;
    font-weight: 900;
    margin-block: 20px;
    color: #1c1e21;
}

.hero .title {
    letter-spacing: 10px;
    font-size: 98px;
}

.hero .sub-title {
    letter-spacing: 2px;
    font-size: 38px;
}

textarea {
    padding: 10px 15px;
    line-height: 2;
    font-size: 18px;
    width: 100%;
    font-family: monospace;
    margin-block: 10px;
    background-color: #0d1117;
    color: #fff;
    border-radius: 5px;
    border: none;
    resize: vertical;
}

.btn {
    display: block;
    margin-left: auto;
    padding: 10px 30px;
    border: none;
    background-color: #10c875;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.result {
    margin-top: 50px;
}

.result .title {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04aa6d;
    color: white;
}

td.green {
    color: green;
}

td.red {
    color: red;
}
