:root {
    --color-prime: #fffd63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    text-align: center;
    background-color: #141719;
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px 0 80px;
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .site-title {
    font-size: 28px;
    font-weight: bold;
    /* color: var(--color-prime); */
}

header ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

header ul a {
    color: #fff;
    text-decoration: none;
}

header ul a.active {
    /* color: var(--color-prime); */
    font-weight: bold;
}

textarea,
.logs-content {
    padding: 10px 15px;
    line-height: 2;
    font-size: 18px;
    width: 100%;
    font-family: monospace;
    margin-block: 10px;
    /* background-color: #181b20; */
    background-color: #212529;
    color: #fff;
    border-radius: 5px;
    border: none;
    resize: vertical;
    box-shadow:
		/* offset-x | offset-y | blur-radius | spread-radius | color */ 0px
            24px 38px 3px hsla(0, 0%, 0%, 0.14),
        0px 9px 46px 8px hsla(0, 0%, 0%, 0.12),
        0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);
}

textarea:focus {
    outline: none;
    /* outline: 2px solid var(--color-prime); */
}

.btn {
    font-family: Inter;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    background-color: var(--color-prime);
    color: #0a0b1e;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
}

.logs .title {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.logs-content {
    text-align: left;
}

.logs-content .error::before {
    content: "⚠️";
    margin-right: 5px;
}

.logs-content .error {
    color: #ff6060;
}

.logs-content .success::before {
    content: "🚀";
    margin-right: 5px;
}

.logs-content .success {
    color: rgb(0, 255, 0);
}

#empty,
#logs-empty {
    color: gray;
}
.result {
    margin-top: 50px;
}

.result .title {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

table {
    background-color: #212529;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 24px 38px 3px hsla(0, 0%, 0%, 0.14),
        0px 9px 46px 8px hsla(0, 0%, 0%, 0.12),
        0px 11px 15px -7px hsla(0, 0%, 0%, 0.2);
    border-radius: 5px;
}

table td,
table th {
    border-bottom: 1px solid #373b3e;
    padding: 15px;
}

table tr:hover {
    background-color: #323539;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
}

td.green {
    color: var(--color-prime);
}

td.red {
    color: gray;
}

.hide {
    display: none;
}

#symbolTable {
    margin-top: 50px;
}

@media only screen and (min-width: 900px) {
    .container {
        width: 70%;
    }
}
